section {
  height: 100vh;
  background-color: #f1faee;
}

#formContainer {
  margin-top: 2rem;
}

.title {
  font-size: 28px;
  text-align: center;
}

.subtitle {
  text-align: center;
}

.alertTextEm {
  text-align: center;
  color: #ea1601;
  display: none;
}

.alertTextP {
  text-align: center;
  color: #ea1601;
  display: none;
}

.alertTextBoth {
  text-align: center;
  color: #ea1601;
  display: none;
}

#submit {
  background-color: #d3d3d3;
  color: #000;
}

#card {
  width: 100%;
}

.me {
  color: red;
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
}

@media screen and (min-width: 769px) {
  #card {
    width: 70%;
  }
}
