body {
  height: 100vh;
  background-color: #f1faee;
}

.columns {
  justify-content: center;
}

#cardColumn {
  width: 90%;
}

#formContainer {
  margin-top: 2rem;
}

.title {
  font-size: 28px;
  text-align: center;
}

.subtitle {
  text-align: center;
}

.alertTextEm {
  text-align: center;
  color: #ea1601;
  display: none;
}

.alertTextP {
  text-align: center;
  color: #ea1601;
  display: none;
}

.alertTextBoth {
  text-align: center;
  color: #ea1601;
  display: none;
}

#submit {
  background-color: #d3d3d3;
  color: #000;
}

.card-front {
  height: 100%;
  transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
}

.card-front,
.card-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  position: absolute;
}

.card {
  -webkit-transition: transform 0.6s;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card.flip {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.me {
  color: red;
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
}

@media screen and (min-width: 769px) {
  #cardColumn {
    width: 70%;
  }
}
